.dashboard-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.page-card-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-uploads-yet {
    color: white;
    display: flex;
}