.item-card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    border-style: solid;
    border-color: white;
    border-width: thin;
    color: white;
    margin: 10px;
    padding: 10px;
}

.item-card-title-container, .message-container {
    display: flex;
}

.message-container {
    display: flex;
}

.item-card-message {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.item-card-title {
    display: flex;
    font-size: 1.7vw;
}

.uploaded-by {
    font-size: 1vw;
}

.link-to-details {
    text-decoration: none;
}

.link-to-details:visited {
    color: white;
    text-decoration: none;
}

.link-to-details:hover {
    text-decoration: none;
    font-weight: bold;
}