.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sign-in-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 100%;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 10px;
    height: 350px;
    width: 350px;
    color: white;
}

.sign-in-form-item {
    margin: 10px;
    width: 70%;
}

.username-field-label, .password-field-label {
    text-transform: capitalize;
}

.username-field, .password-field {
    display: block;
    margin: 10px 0;
    height: 30px;
    width: 100%;
}
.sign-in-button {
    margin: 10px 0;
    text-transform: uppercase;
}

