.navbar-container {
color: hsl(0, 0%, 100%);
}

.navbar-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    text-decoration: none;
    opacity: 60%;
}

.navbar-item:hover {
    opacity: 100%;
}

.active-navbar-item {
    opacity: 100%;
}

.navbar-item:visited {
    color: hsl(0, 0%, 100%);
}