.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sign-up-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 100%;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 10px;
    height: 450px;
    width: 400px;
    color: white;
}

.sign-up-form-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.sign-up-title {
    margin: 0;
    text-transform: uppercase;
}

.back-link {
    text-decoration: none;
    color: white;
}

