.detail-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    margin-top: 30px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
}

.details-title {
    font-size: 1vw;
}

.details-upload-by {
    font-size: 1vw;
}

.details-description {
    display: flex;
    border-style: solid;
    border-color: black;
    padding: 2px;
    word-wrap: break-word;
    width: 65%;
}

.details-description-message {
    display: flex;
}

.details-feedback-container {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-feedback-comment {
    resize: none;
    width: 50%;
    margin-bottom: 30px;
}

.details-feedback-title {
    margin-bottom: 10px;
}